*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 8, 8);
    height: 100vh;
    width: 100%;
}
.calculator {
    /* width: 11%; */
 background: #3a4455;  
 padding: 10px;
 border-radius: 10px;
}
.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
     /* border: 10px; */
     border-radius: 5px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background-color: transparent;
    font-size: 25px;
    color:white;
    cursor: pointer;
    margin: 10px;
}
 form .enter-value {
    display: flex;
    justify-content: flex-end;
    margin: 20px,0;
}
form .enter-value input {
    text-align: right;
    flex: 1;
    font-size: 25px;
    background-color: aliceblue;
    color: black;
}
form input.equal{
    width: 140px;
    background-color: aliceblue;
    color: black;
} 

